<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>The Man Who Invented Christmas</title>
        <!-- Stylesheets-->
        <link href="/stylesheets/style.css" media="screen and (min-width: 1025px)" rel="stylesheet" type="text/css">
        <link href="/stylesheets/mobile.css" media="screen and (max-width: 640px)" rel="stylesheet" type="text/css">
        <link href="/stylesheets/tablet.css" media="screen and (min-width: 641px) and (max-width: 1024px)" rel="stylesheet" type="text/css">
        <!-- Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="/font-awesome/css/all.min.css" type="text/css" rel="stylesheet">
        <!-- Bootstrap4 -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="col-xs-12 full-width">
              <div class="col-xs-6 half-width">
                <h1>The Man Who Invented Christmas</h1>
              </div>
              <div class="col-xs-6 half-width">
                <nav>
                  <ul>
                    <li><a href="#poster">Home</a></li>
                    <li><a href="#synposis">Synopsis</a></li>
                    <li><a href="#cast">Cast</a></li>
                    <li><a href="#media">Media</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </header>
