<%- include("partials/header") %>

<section id="full-banner">
  <img src="https://bleeckerstreetmedia.com/assets/editorial/holiday-traditions-inspired-by-charles-dickens/full.jpg" alt="The Man Who Invented Christmas full banner" class="img-fluid" />
</section>

<section id="cast">
  <div class="container">
    <h2 class="text-center">Cast</h2>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <ul>
          <li>Charles Dickens</li>
          <ul>
            <li>Dan Stevens as adult Charles Dickens</li>
            <li>Ely Solan as young Charles Dickens</li>
          </ul>
          <li>Christopher Plummer as Ebenezer Scrooge</li>
          <li>Jonathan Pryce as John Dickens</li>
          <li>Simon Callow as John Leech</li>
          <li>Donald Sumpter as Jacob Marley</li>
          <li>Morfydd Clark as Kate Dickens</li>
          <li>Justin Edwards as John Forster/Ghost of Christmas Present</li>
          <li>Miles Jupp as William Makepeace Thackeray</li>
          <li>Ian McNeice as Edward Chapman</li>
          <li>Bill Paterson as Mr. Grimsby</li>
          <li>Anna Murphy as Tara Strong/Ghost of Christmas Past</li>
          <li>Jasper Hughes-Cotter as Walter Dickens</li>
          <li>Eddie Jackson as Scam Artist</li>
          <li>Paul Kealyn as Warren's Foreman</li>
          <li>Aleah Lennon as Mamie Dickens</li>
          <li>Ger Ryan as Elizabeth Dickens</li>
          <li>Valeria Bandino as Tart</li>
          <li>Donna Marie Sludds as Maid</li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="https://m.media-amazon.com/images/M/MV5BODc0ZTJkOTctMzU1OC00NDg2LWIzYTYtMzllM2YwNGEwZjg1XkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_SX1500_AL_.jpg" alt="Christopher Plummer and Dan Stevens" class="img-fluid" />
      </div>
    </div>
  </div>  
</section>

<%- include("partials/footer") %>