<%- include("partials/header") %>

<div class="container">
    <section id="cast">
        <div class="col-xs-12 full-width">
          <h3>Cast</h3>
          <div class="col-xs-6 half-width">
            <ul>
              <li>Dan Stevens-Charles Dickens</li>
              <li>Christopher Plummer-Ebeneezer Scrooge</li>
              <li>Jonathan Pryce-John Dickens</li>
              <li>Donald Sumpter-Jacob Marley</li>
            </ul>
          </div>
          <div class="col-xs-6 half-width">
            <ul>
              <li>Miriam Margolyes-Mrs. Fisk</li>
              <li>Justin Edwards-John Forster</li>
              <li>Ian McNeice-Chapman</li>
              <li>Bill Paterson-Mr.Grimsby</li>
            </ul>
          </div>
        </div>
      </section>
</div>

<%- include("partials/footer") %>