<%- include("partials/header") %>

<div class="container">
  <section id="cast">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <ul>
          <li>Dan Stevens - Charles Dickens</li>
          <li>Christopher Plummer - Ebeneezer Scrooge</li>
          <li>Jonathan Pryce - John Dickens</li>
          <li>Simon Callow - John Leech</li>
          <li>Donald Sumpter - Jacob Marley</li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <ul>
          <li>Miriam Margolyes-Mrs. Fisk</li>
          <li>Justin Edwards-John Forster/Ghost of Christmas Past</li>
          <li>Miles Jupp - William Makepeace Thackeray</li>
          <li>Ian McNeice-Chapman</li>
          <li>Bill Paterson-Mr.Grimsby</li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4"></div>
    </div>
  </section>
</div>

<%- include("partials/footer") %>