<%- include("partials/header") %>

<div class="container">
    <section id="full-banner">
        <img src="https://bleeckerstreetmedia.com/assets/editorial/holiday-traditions-inspired-by-charles-dickens/full.jpg" alt="The Man Who Invented Christmas full banner" class="img-fluid" />
    </section>

    <section id="crew">
        <h2 class="text-center">Cast</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <p>Based on <em>The Man Who Invented Christmas</em> by Les Standiford</p>
                <ul>
                    <li>Directed by Bharat Nalluri</li>
                    <li>Produced by Robert Mickelson, Ian Sharples, Paula Mazur, Mitchell Kaplan, Andrew Karpen, Vadim Jean</li>
                    <li>Written by Susan Coyne</li>
                    <li>Music by Mychael Danna</li>
                    <li>Cinematography by Ben Smithard</li>
                    <li>Edited by Stephen O'Connell</li>
                </ul>

                <p>Production Companies: Parallel Films, Rhombus Media</p>
                <p>Distributed by Elevation Pictures, Wildcard Distribution, Bleecker Street</p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://m.media-amazon.com/images/M/MV5BOTk4YWJkODktNDY2ZS00ZWJlLTgyZWUtZjI2MTViNzYyOWEzXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_CR0,0,1500,1000_AL_.jpg" alt="Bharat Nalluri with Dan Stevens and Christopher Plummer" class="img-fluid" />
            </div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>