<%- include("partials/header") %>

<main>
    <div class="container">
      <div class="jumbotron">
        <section id="poster">
          <div class="col-xs-12 full-width">
            <h2>The Man Who Invented Christmas</h2>
            <div class="col-xs-6 half-width">
              <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTU2NjQ2MTUzNF5BMl5BanBnXkFtZTgwNjQxNzQ0MzI@._V1_.jpg" alt="The Man Who Invented Christmas Poster" />
            </div>

            <div class="col-xs-6 half-width">
              <h3><em>The Man Who Invented Christmas</em> opens in theaters November 22, 2017!</h3>
            </div>
          </div>
        </section>

        <section id="synopsis">
          <div class="col-xs-12 full-width">
            <h3>Synopsis</h3>
            <div class="col-xs-6 half-width">
              <p><em>The Man Who Invented Christmas</em> tells the magical journey
                that led to the creation of Ebenezer Scrooge (Christopher Plummer),
                Tiny Tim and other classic characters from <em>A Christmas Carol</em>. Directed
                by Bharat Nalluri (<em>Miss Pettigrew Lives for a Day</em>), the film
                shows how Charles Dickens (Dan Stevens) mixed real life inspirations
                with his vivid imagination to conjure up unforgettable characters
                and a timeless tale, forever changing the holiday season into the
                celebration we know today.</p>
            </div>
            <div class="col-xs-6 half-width">
              <p>Lorem ipsum Christmas carol Tiny Time Ebeneezer Scrooge Ghosts Turkey
              goose books holiday quill. Come see the movie at this date. This
              is filler text for this portion of the synopsis.</p>
            </div>
          </div>
        </section>

        <section id="cast">
          <div class="col-xs-12 full-width">
            <h3>Cast</h3>
            <div class="col-xs-6 half-width">
              <ul>
                <li>Dan Stevens-Charles Dickens</li>
                <li>Christopher Plummer-Ebeneezer Scrooge</li>
                <li>Jonathan Pryce-John Dickens</li>
                <li>Donald Sumpter-Jacob Marley</li>
              </ul>
            </div>
            <div class="col-xs-6 half-width">
              <ul>
                <li>Miriam Margolyes-Mrs. Fisk</li>
                <li>Justin Edwards-John Forster</li>
                <li>Ian McNeice-Chapman</li>
                <li>Bill Paterson-Mr.Grimsby</li>
              </ul>
            </div>
          </div>
        </section>

        <section id="media">
          <div class="col-xs-12 full-width">
            <h3>Media</h3>
            <iframe src="https://www.youtube.com/embed/nx3ctBjG6yI" frameborder="0" allowfullscreen></iframe>
          </div>
        </section>
      </div>
    </div>

<%- include("partials/footer") %>