<%- include("partials/header") %>

<section id="banner">
  <img class="img-fluid" alt="The Man Who Invented Christmas banner" src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/1500x.jpeg">
</section>

<section id="dvd">
  <div class="container">
    <h2 class="text-center">Own It Today</h2>
    <h3 class="text-center">Now available on Digital HD, Blu-Ray, DVD, and On Demand</h3>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <button class="btn btn-block btn-info">Prime Video</button>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <button class="btn btn-block btn-info">Apple TV</button>
      </div>
    </div>
  </div>
</section>

<section id="trailer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <iframe src="https://www.youtube.com/embed/nx3ctBjG6yI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <p><em>The Man Who Invented Christmas</em> tells the magical journey that led to the creation of Ebenezer Scrooge (Christopher Plummer), Tiny Tim and other classic characters from A Christmas Carol.</p>
        <p>Directed by Bharat Nalluri (Miss Pettigrew Lives for a Day), the film shows how Charles Dickens (Dan Stevens) mixed real life inspirations with his vivid imagination to conjure up unforgettable characters and a timeless tale, forever changing the holiday season into the celebration we know today.</p>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") %>