<%- include("partials/header") %>

<div class="container">
  <section id="banner">
    <img class="img-fluid" alt="The Man Who Invented Christmas banner" src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/1500x.jpeg">
  </section>

  <section id="dvd">
    <div class="text-center">
      <h2>Own It Today</h2>
      <h3>Now available on Digital HD, Blu-Ray, DVD, and On Demand</h3>
    </div>
  </section>

  <section id="trailer">
    <div class="container">
      <iframe src="https://www.youtube.com/embed/nx3ctBjG6yI" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
</div>

<%- include("partials/footer") %>