<%- include("partials/header") %>

<div class="container">
    <h2 class="text-center">News & Updates</h2>
    <section id="about">
        <h3>About the Film</h3>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x_200216_190837.jpeg" alt="Charles Dickens with manuscript"/>
                <h4>Charles Dickens's Gift of Giving</h4>
                <p>The spirit of A Christmas Carol & inspired Charles Dickens to a lifestime of giving</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4"></div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>