<%- include("partials/header") %>

<div class="container">
    <h2 class="text-center">News & Updates</h2>
    <section id="about">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x_200216_190837.jpeg" alt="Charles Dickens with manuscript"/>
                <h4>Charles Dickens's Gift of Giving</h4>
                <p>The spirit of A Christmas Carol & inspired Charles Dickens to a lifestime of giving</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x-1.jpeg" alt="Charles Dickens and his wife Kate around Christmas tree" />
                <h4>The Christmas Spirits</h4>
                <p>The Man Who Invented Christmas explores how Charles Dickens' writing of A Christmas Carol reshaped our vision of the holiday season</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x-2.jpeg" alt="Dan Stevens as Charles Dickens with portrait of Charles Dickens" />
                <h4>A Timeline of Charles Dickens' Life</h4>
                <p>We chart out Charles Dickens' life from birth to The Mystery of Edwin Drood -- and everything in between</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x-3.jpeg" alt="Christopher Plummer as Ebeneezer Scrooge" />
                <h4>Holiday Films For The Entire Year</h4>
                <p>From It's a Wonderful Life to The Man Who Invented Christmas, great holiday films to warm you up this winter</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x-4.jpeg" alt="Dan Stevens" />
                <h4>A Hero For All Stories</h4>
                <p>From beloved suitor in Downton Abbey to a fairy tale one in Beauty and the Beast, Dan Stevens continually reinvents what it means to be a leading man.</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x-5.jpeg" alt="Christopher Plummer" />
                <h4>The Many Lives of Christopher Plummer</h4>
                <p>From The Sound of Music to Beginners, Plummer has captured the wide expanse of human experience.</p>
            </div>
        </div>
    </section>

    <section id="press">
        <h3 class="text-center">Press</h3>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x.png" alt="Christopher Plummer and Dan Stevens" />
                    <p class="text-center caption">Today</p>
                </div>
                <h4>Christopher Plummer and Dan Stevents on Today</h4>
                <p>Christopher Plummer and Dan Stevents Charm Megyn Kelly (and us) on the set of Today</p>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="thumnail">
                    <img src="https://bleeckerstreetmedia.com/assets/films/themanwhoinventedchristmas/350x-6.jpeg" alt="Charles Dickens and John Forster" />
                    <p class="caption text-center">EW</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4"></div>
            <div class="col-sm-12 col-md-4 col-lg-4"></div>
        </div>
    </section>
</div>

<%- include("partials/footer") %>