<%- include("partials/header") %>


<section id="synopsis">
  <div class="container">
    <h2 class="text-center">Synposis</h2>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTU2NjQ2MTUzNF5BMl5BanBnXkFtZTgwNjQxNzQ0MzI@._V1_.jpg" alt="The Man Who Invented Christmas Poster" class="img-fluid" />
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <p><em>The Man Who Invented Christmas</em> tells the magical journey
          that led to the creation of Ebenezer Scrooge (Christopher Plummer),
          Tiny Tim and other classic characters from <em>A Christmas Carol</em>. Directed
          by Bharat Nalluri (<em>Miss Pettigrew Lives for a Day</em>), the film
          shows how Charles Dickens (Dan Stevens) mixed real life inspirations
          with his vivid imagination to conjure up unforgettable characters
          and a timeless tale, forever changing the holiday season into the
          celebration we know today.</p>

        <p><em>The Man Who Invented Christmas</em> opened in theaters November 22, 2017!</p>
      </div>
    </div>
  </div>
</section>

<section id="dickens">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h3>Who is Charles Dickens?</h3>
        <p>“How can you contrive to write so even?”</p>
  
        <p>He was silent.</p>
  
        <p>“Tell your sister I am delighted to hear of her improvement on the harp; and pray let her know that I am quite in raptures with her beautiful little design for a table, and I think it infinitely superior to Miss Grantley’s.”</p>
  
        <p>“Will you give me leave to defer your raptures till I write again? At present I have not room to do them justice.”</p>
  
        <p>“Oh! it is of no consequence. I shall see her in January. But do you always write such charming long letters to her, Mr. Darcy?”</p>
  
        <p>“They are generally long; but whether always charming it is not for me to determine.”</p>
  
        <p>“It is a rule with me, that a person who can write a long letter with ease, cannot write ill.”</p>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="http://s3-us-west-2.amazonaws.com/assets.bleeckerstreetmedia.com/direct-uploads/5a0dbf55ca537-fa2d32h150.jpg" alt="Charles Dickens" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<section id="christmas-carol">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="http://s3-us-west-2.amazonaws.com/assets.bleeckerstreetmedia.com/direct-uploads/5a0dbf3138386-fa2d31hb9.png" alt="First edition book of A Christmas Carol" class="img-fluid" />
      </div>
    
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h3>What is <em>A Christmas Carol</em>?</h3>
        <p>“How can you contrive to write so even?”</p>
    
        <p>He was silent.</p>
    
        <p>“Tell your sister I am delighted to hear of her improvement on the harp; and pray let her know that I am quite in raptures with her beautiful little design for a table, and I think it infinitely superior to Miss Grantley’s.”</p>
    
        <p>“Will you give me leave to defer your raptures till I write again? At present I have not room to do them justice.”</p>
    
        <p>“Oh! it is of no consequence. I shall see her in January. But do you always write such charming long letters to her, Mr. Darcy?”</p>
    
        <p>“They are generally long; but whether always charming it is not for me to determine.”</p>
    
        <p>“It is a rule with me, that a person who can write a long letter with ease, cannot write ill.”</p>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") %>